DATABASE_URL="mysql://root:hunter2@localhost:6033/finansai?connectionLimit=10&allowPublicKeyRetrieval=true&useSSL=false"
DATABASE_USER="root"
DATABASE_PASSWORD="hunter2"
DATABASE_NAME="finansai"
DATABASE_HOST="localhost"
DATABASE_PORT=6033

SESSION_SECRET="hunter2"